.page-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.container {
    padding-top: 5vh;
    max-width: 60%;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.book-card {
    display: flex;
    
    width: 100%;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;  
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F8EDEB;
}

.image img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
}

.desc {
    flex: 2;
    padding: 50px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 10px;
}

.re-review {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.rev-sub {
    width: 100px;
    display: inline-block;
    padding: 12px 20px;
    background-color: #1B263B;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

}

.rev-sub:hover {
        background-color: #274472;
}

.re-review-btn {
    width: 200px;
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #1B263B;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.re-review-btn:hover {
    background-color: #274472;
}

.rev-hidden {
    display: none;
}