* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #1B263B;
}

header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #1B263B;
    padding: 5vh 0;
    
}

nav {
    margin-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    gap: 30px;
}

li > a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

li > a:hover {  
    color: brown;
}

.logo {
    width: 500px;
    height: auto;
    border-bottom: 2px solid white;
}

.logo > img {
    width: 100%;
    height: 100%;
}

.filled {
    color: #ffd700;
}

.half-filled {
    color: gold;
    background: linear-gradient(to right, gold 50%, gray 50%);
    background-clip: text;                 
    -webkit-background-clip: text;          
    -webkit-text-fill-color: transparent;   
    color: transparent;                     
    display: inline-block;
}