<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}What The Book?{% endblock %}</title>
    {% block head %} {% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Book Image">
        </div>

        <nav>
            <li><a href="{{ url_for('home.home')}}">Home</a></li>
            {% if session.username %}
                <li><a href="{{ url_for('home.dash') }}">{{session.username}}</a></li>
                <li><a href="{{ url_for('login.logout')}}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login.register')}}">Register</a></li>
                <li><a href="{{ url_for('login.login')}}">Login</a></li>
            {% endif %}


        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <div class="site-iden">
                <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Site Logo">
            </div>
            <ul class="footer-sitemap">
                <h2>SiteMap</h2>
                <li><a href="{{ url_for('home.home') }}">Home</a></li>
                {% if session.username %}
                    <li><a href="{{ url_for('home.dash') }}">{{session.username}}</a></li>
                    <li><a href="{{ url_for('login.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login.register') }}">Register</a></li>
                    <li><a href="{{ url_for('login.login') }}">Login</a></li>
                {% endif %}
            </ul>
            <form class="footer-form" method="post" action="#">
                <label for="book_name">Book Name</label>
                <input type="text" id="book_name" name="book_name" required>
                <label for="author">Author</label>
                <input type="text" id="author" name="author" required>
                <button type="submit">Suggest Book</button>
            </form>
        </div>
    </footer>

</body>
</html>
