{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/product.css')}}">
{% endblock %}


{% block content %}
    <div class="product-page">
        <div class="book-image">
            <img src="{{ url_for('static', filename=book.image) }}" alt="Book Cover">
        </div>

        <div class="book-details">
            <h1>{{book.name}}</h1>
            <p><strong>Author:</strong> {{book.author}}</p>
            <p><strong>Publication:</strong> {{book.publish}}</p>
            <p><strong>Year:</strong> {{book.year}}</p>
            <p><strong>Rating:</strong> 
                {% set full_stars = score | int %}
                {% set has_half = (score - full_stars) > 0 %}
                {% set empty_stars = (4 - full_stars) if has_half else (5 - full_stars) %}

                {% for _ in range(full_stars) %}
                    <span class="filled">&#9733;</span>
                {% endfor %}

                {% if has_half %}
                    <span class="half-filled">&#9733;</span>
                {% endif %}

                {% for _ in range(empty_stars) %}
                    <span>&#9733;</span>
                {% endfor %}
                <span class="rating-val">({{ score }})</span>
            </p>
            {% if session.username %}
                <a href="{{ url_for('review.review', book_id=book._id)}}" class="review-button">Leave a Review</a>
                {% else %}
                <a href="{{ url_for('login.login')}}" class="review-button">Login to Review</a>
            {% endif %}
        </div>
    </div>

    <div class="feedback-section">
        <h2>What People think about it...</h2>
        <div class="feedback-list">
            {% for rev in review[:5] %}
            <div class="feedback-item">
                <p><strong>{{rev.name}}:</strong> <span style="color: rgb(150, 150, 1);">{{rev.score}}</span></p>
                <br>
                <p>
                    {% if rev.edit %}
                    <span>Edited:</span>
                    {% endif %}
                    "{{rev.review}}"
                </p>
            </div>
            {% endfor %}

            {% for rev in review[5:] %}
            <div class="feedback-item hidden">
                <p><strong>{{rev.name}}:</strong> <span style="color: rgb(150, 150, 1);">{{rev.score}}</span></p>
                <br>
                <p>"{{rev.review}}"</p>
            </div>
            {% endfor %}

        </div>
        <button id="show-more-btn">Show More</button>
    </div>

    <script>
        document.getElementById('show-more-btn').addEventListener('click', function () {
            const hiddenItems = document.querySelectorAll('.feedback-item.hidden');
            hiddenItems.forEach(item => item.classList.remove('hidden'));
            this.style.display = 'none';
        });
    </script>

{% endblock %}

