{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css')}}">
{% endblock %}



{% block content %}

<div class="page-container">
    <div class="container">
        <h1 style="text-align: center;">Books You've Liked</h1>
        {% for book in books %}
        <div class="book-card">
            <div class="image">
                <img src="{{ url_for('static', filename=book.image) }}" alt="">
            </div>
            <div class="desc">
                <h2>{{ book.name }}</h2>
                <p><strong>Author: </strong>{{ book.author }}</p>
                {% for rev in reviews %}
                    {% if book._id == rev.book_id %}
                        <p><strong>Your Review: </strong> "{{ rev.review }}"</p>
                        {% set old_rev = rev.review %}
                    {% endif %}
                {% endfor %}

                <form action="{{ url_for('review.re_review', book_id=book._id) }}" method="post" class="rev-hidden revForm">
                    <textarea name="re-review" class="re-review rev-hidden" cols="50" rows="5" placeholder="Edit your review" required>{{ old_rev }}</textarea>
                    <br>
                    <input class="rev-hidden rev-sub" type="submit" value="Submit">
                </form>
                <button class="re-review-btn">Re-Review</button>

    
            </div>
        </div>
    
        {% endfor %}
    </div>
</div>

<script>
    const butt = document.querySelectorAll('.re-review-btn');
    const tt = document.querySelectorAll('.re-review');
    const bb = document.querySelectorAll('.rev-sub');
    const pp = document.querySelectorAll('.revForm');

    butt.forEach((but, index)=> {
        but.addEventListener('click', ()=> {
            tt[index].classList.remove('rev-hidden');
            bb[index].classList.remove('rev-hidden');
            pp[index].classList.remove('rev-hidden');
    
            tt[index].style.display = 'block';
            bb[index].style.display = 'block';
            pp[index].style.display = 'block';
    
            but.style.display = 'none';
        });

    });
    
</script>



{% endblock %}