{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css')}}">
{% endblock %}



{% block content %}

<div class="page-container">
    <div class="container">
        {% for book in books %}
        <div class="book-card">
            <div class="image">
                <img src="{{ url_for('static', filename=book.image) }}" alt="">
            </div>
            <div class="desc">
                <h2>{{ book.name }}</h2>
                <p><strong>Author: </strong>{{ book.author }}</p>
                {% for rev in reviews %}
                    {% if book._id == rev.book_id %}
                        <p><strong>Your Review: </strong> "{{ rev.review }}"</p>
                    {% endif %}
                {% endfor %}
    
            </div>
        </div>
    
        {% endfor %}
    </div>
</div>



{% endblock %}