{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
{% endblock %}

{% block content %}

    <div class="review-container">
        <div class="review-image">
            <img src="{{ url_for('static', filename=book.image) }}" alt="{{book.name}}">
            <h2>{{book.name}}</h2>
            <h3>{{book.author}}</h3>
        </div>

        <div class="review-form">
            <h1>Tell us what you think</h1>
            <form action="" class="revForm">
                <label for="name">Name</label>
                    <input type="text" name="name" id="name">

                <label for="email">Email
                </label>
                    <input type="email" name="email" id="email">

                <label for="review">Review <br>
                </label>
                    <textarea name="review" id="review" cols="50" rows="10"></textarea>
            </form>
        </div>

    </div>

{% endblock %}