{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
{% endblock %}

{% block content %}

    <div class="review-container">
        <div class="review-image">
            <img src="{{ url_for('static', filename=book.image) }}" alt="{{book.name}}">
            <h2>{{book.name}}</h2>
            <h3>{{book.author}}</h3>
        </div>

        <div class="review-form">
            <h1>Tell us what you think</h1>
            <form action="{{ url_for('review.submit', book_id=book._id)}}" class="revForm" method="post">
                <label for="name">Name</label>
                    <input type="text" name="name" id="name">

                <label for="email">Email</label>
                <span class="msg hide-email"></span>
                <input type="email" name="email" id="email">

                <label for="review">Review <br></label>
                <textarea name="review" id="review" cols="50" rows="10"></textarea>

                <input type="submit" value="Submit" class="submit">
            </form>
        </div>

    </div>

    <script>
        let emailValid = false;

        document.querySelector('.revForm').addEventListener('submit', async (e) => {
            e.preventDefault()
            const email = document.getElementById('email').value;
            let check_book = "{{ book_id }}";
            const res = await fetch('/check-email', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ email, check_book })
            });
            const data = await res.json();
            const msg = document.querySelector('.msg');
            if (data.exists) {
                msg.textContent = "Email already registered!";
                msg.classList.remove("hide-email");
                msg.style.display = "block";
            } else {
                msg.style.display = "none";
                alert("Review recieved! Thank you!");
                e.target.submit();
            }
        });
</script>

{% endblock %}